                                <label for="inputName" class="control-label">العنوان :</label>
                                <select name="address" id="address" class="form-control">
                                        <option value=""selected disabled> اختر من القائمة.... </option>
                                        <option value="1"> *مجموعة مناطق </option>
                                        <option value="2"> ابو علندا </option>
                                        <option value="3"> الجويدة </option>
                                        <option value="4"> الدبايبة </option>
                                        <option value="5"> القويسمة </option>
                                        <option value="6"> المقابلين </option>
                                        <option value="7"> الوحدات </option>
                                        <option value="8"> اليادودة </option>
                                        <option value="9"> جاوا </option>
                                        <option value="10"> جبل الزهور </option>
                                        <option value="11"> خارج المملكة </option>
                                        <option value="12"> خريبة السوق </option>
                                        <option value="13"> دوار الشرق الاوسط </option>
                                        <option value="14"> زيزيا </option>
                                        <option value="15"> سحاب </option>
                                        <option value="16"> ضاحية الحاج حسن </option>
                                        <option value="17"> عمان -اخرى </option>
                                        <option value="18"> مادبا </option>
                                        <option value="19"> محافظات </option>
                                        <option value="20"> وزارة التربية </option>
                                        <option value="21"> وزارة العمل </option>
                                </select>



/////////////////////////////////

                        <label for="inputName" class="control-label">الجنسيه :</label>
                        <select name="nationality" id="nationality" class="form-control">
                                <option value=""selected disabled> اختر من القائمة.... </option>
                                <option value="1"> اردنية </option>
                                <option value="2"> سورية </option>
                                <option value="3"> عراقية </option>
                                <option value="4"> فلسطينية </option>
                                <option value="5"> مصرية </option>
                                <option value="6"> اخرى </option>
                          </select>


//////////////////////////////////////

                                <label for="inputName" class="control-label">الجنس :</label>
                                <select name="gender" class="form-control">
                                    <!--placeholder-->
                                    <option value="" selected disabled>اختر الجنس </option>
                                    <option value="1">ذكر</option>
                                    <option value="2">انثي</option>
                                </select>

 ///////////////////////////////////////////////////


 <label for="inputName" class="control-label">كيف سمعت عنا :</label>
 <select name="how_listen" id="how_listen" class="form-control">
     <option value=""selected disabled> اختر من القائمة.... </option>
     <option value="1"> ارمة المركز </option>
     <option value="2"> اعلان اشارات الدوار </option>
     <option value="3"> اعلان سوق الوحدات </option>
     <option value="4"> اعلان محال تجارية </option>
     <option value="5"> اعلان مدرسة </option>
     <option value="6"> اعلان مسجد </option>
     <option value="7"> السوق المفتوح </option>
     <option value="8"> الفيسبوك </option>
     <option value="9"> الموقع الالكتروني للمركز </option>
     <option value="10"> الواتساب </option>
     <option value="11"> تسويق هاتفي </option>
     <option value="12"> زبائن الترجمة </option>
     <option value="13"> عن طريق صديق </option>
     <option value="14"> فيسبوك - اعلان ممول </option>
     <option value="15"> لوحة اعمدة الكهرباء </option>
 </select>


 //////////////////////////////////////////////////
 <label for="inputName" class="control-label">تصنيف الطالب :</label>
 <select name="classification" id="classification" class="form-control" required>
     <option value=""selected disabled> اختر من القائمة.... </option>
     <option value="1"> Black_L </option>
     <option value="2"> VIP </option>
     <option value="3"> عادي </option>
 </select>


 ////////////////////////////////////
 <label for="inputName" class="control-label">طبيعة العمل :</label>
 <select name="work" id="work" class="form-control" required>
         <option value=""selected disabled> اختر من القائمة.... </option>
         <option value="1"> اداري </option>
         <option value="2"> بائع </option>
         <option value="3"> تاجر </option>
         <option value="4"> ربة اسرة </option>
         <option value="5"> طالب </option>
         <option value="6"> طالب جامعي </option>
         <option value="7"> عسكري </option>
         <option value="8"> معلم </option>
         <option value="9"> مهني </option>
         <option value="10"> موظف حكومي </option>
         <option value="11"> اخرى </option>
 </select>
