/*
=========================
Fonts
=========================

font-family: 'Outfit', sans-serif;

*/

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/*
========================
Variables
========================
*/

:root {
  font-size: 15px;

  /* Primary */
  --var-soft-blue: hsl(0, 0%, 100%);
  --var-cyan: hsl(178, 100%, 50%);
  /* Neutral */
  --var-main-darkest: hsl(217, 54%, 11%);
  --var-card-dark: hsl(216, 50%, 16%);
  --var-line-dark: hsl(215, 32%, 27%);
  --var-lightest: white;

  /* Fonts */

  --var-heading: normal normal 600 1.5em/1.6em "Outfit", sans-serif;

  --var-small-heading: normal normal 400 1em/1em "Outfit", sans-serif;

  --var-para: normal normal 300 1em/1.55em "Outfit", sans-serif;
}

/*
=======================
Setup
=======================
*/

.wave-login{
	width: 1000px;
	height: 1000px;
	background-color:#D81324;
	position: fixed;
    border-radius: 50%;
	z-index: -1;
	top : -35%;
	left: -25%;
}
.wave2-login{
	width: 200px;
	height: 200px;
	background-color:#D81324;
	border-radius: 50%;
	position: fixed;
	bottom: -100px;
	left: -100px;
	z-index: -1;
}
.wave3-login{
    width: 300px;
    height: 360px;
	background-color:#D81324;
	border-radius: 50%;
	position: fixed;
	top: -100px;
	right: -100px;
	z-index: -1;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: #999;
}

/* img {
  width: 100%;
  border-radius: 15px;
  display: block;
} */

 a {
  color: inherit;
}
a:hover {
    color: inherit;
  }
/*

Eye view

https://i.postimg.cc/9MtT4GZY/view.png' border='0' alt='view */

/*
=========================
Font Styling
=========================
*/

h1 {
  font: var(--var-heading);
  color: white;
  padding: 1.2em 0;
}

h2 {
  font-size: 20px;
  color: #999;
  /* padding on .coin-base */
}
h4{
    color: #111111;
    margin-bottom: 16px;
}
p {
  font: var(--var-para);
  color: var(--var-soft-blue);
}

span {
    font-size: 20px !important;
  color: #999;
}
/*
=====================
Classes
=====================
*/

/* LAYOUT */

.card-container {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  max-width: 950px;
  margin: 2em auto;
  background-color: #ffffff;
  margin-bottom: 1rem;
  padding: 2rem;
}

div.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.coin-base,
.time-left,.car-type,
.card-attribute {
  display: flex;
  align-items: center;
  padding: 1em 0;

}
.card-attribute p{

    color:#111111 ;
  }

.card-attribute {
  padding-bottom: 1.5em;
  border-top: 2px solid var(--var-line-dark);
}

a.hero-image-container {
  position: relative;
  display: block;
      width: 420px;
}

/* Details */


.small-image {
  width: 1.2em;
  margin-right: 0.5em;
}

.small-avatar {
  width: 7em;
  border-radius: 200px;
  outline: 2px solid white;
  margin-right: 1.4em;
}

div.attribution {
  margin: 0 auto;
  width: 100%;
  font: var(--var-para);
  text-align: center;
  padding: 1.5em 0 4em 0;
  color: #999;
}
.attribution a {
  color: var(--var-soft-blue);
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

.location p{
    font-size: 15px;

}

.money{
    font-size: 30px;
color: #17a517;
margin-right: 10px;
}

.time i{
    font-size: 30px;
color: #000000;
margin-right: 10px;
}


.headicone img{
    font-size: 12px!important;
    margin-left: 248px;
    width: 260px;
    height: 120px;
}
p{
    color: #999;
    font-size: 16px;
}
